<div class="text-center">
    <button class="btn btn-default btn-secondary" data-action="hide">{{#str}}goback, videotime{{/str}}</button>
    {{^readonly}}
        <button class="btn btn-primary" data-action="use-video">{{#str}}use, videotime{{/str}}</button>
    {{/readonly}}
</div>
